* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(17, 45, 78);
}

.anchor {
    text-decoration: none;
}

.recipe {
    text-align: right;
}

.head {
    color: white;
    background-color: rgba(216, 137, 103, 1);
    display: inline-block;
    padding: 20px;
    color: rgb(17, 45, 78);
    margin: 20px 10px;
    border-radius: 180px;
}

.description {
    color: rgb(252, 69, 129);
    font-size: 35px;
    padding: 10px 20px 10px 20px;
    text-decoration: underline;
    display: inline-block;
    margin: 0 20px;
    border: 2px solid white;
    border-radius: 20px;
    border-bottom: 4px dashed white;
}


.main {
    float: right;
}

.main img {
    border-radius: 150px 0px 0px 150px;
}

.main-para p {
    color: white;
    padding: 20px 550px 20px 20px;
    font-size: 25px;
    text-align: justify;
}

.main-para a {
    text-decoration: none;
    color: rgb(222, 69, 129);
}

.main-para a:hover {
    color: rgb(252, 69, 129);
    background-color: whitesmoke;
}

span .main-para {
    width: 130px;
    display: inline-block;
}

.home {
    background-color: rgb(17, 45, 78);
    padding: 0 30px;
    border-bottom: 20px solid rgb(252, 69, 129);
    height: 150px;

}

.home img {
    display: inline-block;
    height: 80px;
    margin: 30px 0 0 0;
    border: 5px dotted white;
    border-radius: 80px;
}

.home img:hover {
    border: 5px dotted rgb(252, 69, 129);
}

.heading:hover {
    color: rgb(252, 69, 129);
}

.heading {
    color: whitesmoke;
    font-size: 50px;
    display: inline-block;
    vertical-align: top;
    margin: 50px 0 0 0;
    font-style: italic;
}


.ing li {
    color: white;
    font-size: 25px;
    padding: 5px 20px 5px 10px;

}

.ing ul {
    display: inline-block;
    margin: 20px 40px 20px 50px;
    list-style: disc rgba(216, 137, 103, 1);
}

.title {
    color: rgb(252, 69, 129);
    font-size: 35px;
    padding: 10px 20px 10px 20px;
    text-decoration: underline;
    display: inline-block;
    margin: 60px 20px;
    border: 2px solid white;
    border-radius: 20px;
    border-bottom: 4px dashed white;
}

li::marker {
    color: rgba(216, 137, 103, 1);
}

.filling,
.dough {
    display: block;
    color: rgba(216, 137, 103, 1);
    text-decoration: underline;
}


.filling-cont,
.dough-cont {
    width: 40%;
    display: inline-block;
    padding: 0 50px;
    font-size: 30px;
}

.dough-cont {
    float: inline-start;
}

.filling-cont {
    margin-left: 250px;
}

.steps h3 {
    color: rgb(252, 69, 129);
    font-size: 35px;
    padding: 10px 20px 10px 20px;
    text-decoration: underline;
    display: inline-block;
    margin: 0px 20px;
    border: 2px solid white;
    border-radius: 20px;
    border-bottom: 4px dashed white;
}

.steps p {
    color: white;
    font-size: 25px;
    margin: 20px;
    text-align: justify;
    display: inline-block;
}

.steps strong {
    color: rgba(216, 137, 103, 1);
    text-decoration: underline;
    display: inline-block;
}

.footer p {
    color: white;
    font-size: 25px;
    margin: 20px 20px 50px 20px;
    text-align: justify;
}

.footer a {
    text-decoration: none;
    color: rgb(222, 69, 129);
}

.footer a:hover {
    color: rgb(252, 69, 129);
    background-color: whitesmoke;
}


#end img {
    height: 200px;
    width: 200px;
    border-radius: 180px;
    border: 3px dotted rgb(209, 217, 226);
    padding: 10px;
    margin: 50px;
}

#end {
    width: 1000px;
    margin: 0px auto;
    margin-top: 80px;
}

.end-cont {
    border-top: 20px solid rgb(252, 69, 129);
    background-image: url(../images/background-image.jpg);
    background-size: 700px;
}

#end #icon {
    border: hidden;
    padding: 50px;
}

#end img:hover {
    background-color: b(252, 69, 129);
    border: 3px dotted rgba(216, 137, 103, 1);
    alt: home;
}

#end #icon:hover {
    border: 3px dotted rgba(216, 137, 103, 1);
}

/* rajma rice additional css */


.dough-cont li a {
    text-decoration: none;
    color: rgb(222, 69, 129);
}

.dough-cont li a:hover {
    color: rgb(252, 69, 129);
    background-color: whitesmoke;
}

#ing-cont {
    height: 700px;
}

/* dal makhni additonal css */

#ir {
    margin-bottom: 10px;
}

#stf {
    margin-top: 40px;
}